        <% @activities.each do |a| %>
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading"><%= a.title %><span class="text-muted">See for yourself.</span></h2>
            <p class="lead"><%= a.description %></p>
          </div>

          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        <% end %>